.card {
    font-family: "Noto Sans JP", Roboto;
    font-size: 20px;
    text-align: center;
   }
   
   img {
   max-width: 400px;
   max-height: 300px;
   }
   
   .mobile img {
   max-width: 50vw;
   }
   
   b{color: #e78284}