:root{
  /* --desktop variables-- */
  /* light */
  --background-color-light: #eff1f5;
  --container-background-light: #e6e9ef;
  --text-color-light: #4c4f69;
  
  /* dark */
  --background-color-dark: #24273a;
  --container-background-dark: #1e2030;
  --text-color-dark: #cad3f5;

  /* --mobile variables-- */
  /* light */
  --background-color-light-mobile: #eff1f5;
  --container-background-light-mobile: #e6e9ef;
  --text-color-light-mobile: #4c4f69;

  --background-color-dark-mobile: #3d3d3d;
  --container-background-dark-mobile: #303030;
  --text-color-dark-mobile: white;
  

  --accent-color: #ed8796;

}

.card {
  font-family: "Red Hat Text", "Noto Sans JP", "Roboto";
  font-size: 44px;
  text-align: center;
  color: var(--text-color-light);
  background-color: var(--background-color-light);
}

.mobile .card {
  color: var(--text-color-light-mobile);
  background-color: var(--background-color-light-mobile);
}

.card.nightMode {
  color: var(--text-color-dark);
  background-color: var(--background-color-dark);
}

.mobile .card.nightMode {
  color: var(--text-color-dark-mobile);
  background-color: var(--background-color-dark-mobile);
}

/* open for change 
original: width = 300px, height = 250px
*/
img {
  max-height: 400px;
  width: auto;
  border-radius: 10px;
}

b{color: var(--accent-color);}
a{color: var(--accent-color);}

.container {
	border-radius: 10px;
  background-color: var(--container-background-light);
  line-height: 1.75em;
  text-align: center;
  padding: 0.5em 10px;
  margin: 5px auto;
  overflow: hidden;
  position: relative;
}
.nightMode .container {
  background-color: var(--container-background-dark);
}
.mobile .container {
  background-color: var(--container-background-light-mobile);
}
.mobile .nightMode .container {
  background-color: var(--container-background-dark-mobile);
}

.sentence {
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.row {
  display: flex;
  flex-direction: row;
	align-items: flex-start;
}

.column {
	padding: 10px;
}

.definition {
  flex-grow: 1;
}

.picture {
  max-width: 400px;
  position: relative;
  font-size: 0;
}
