.card {
 font-family: "Noto Sans JP", Red Hat Text;
 font-size: 44px;
 text-align: center;
}

/* open for change 
original: width = 300px, height = 250px
*/
img {
max-width: 200px;
max-height: 200px;
}

.mobile img {
max-width: 50vw;
}

/* This part defines the bold color. */
b{color: #ed8796}

/* Definition container */
.container {
  --background: #1e2030;
	
	border-radius: 10px;
  background-color: var(--background);
  line-height: 1.75em;
  text-align: center;
  padding: 0.5em 10px;
  margin: 5px auto;
  overflow: hidden;
  position: relative;
}

.sentence {
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.row {
  display: flex;
	/*align-items:center;*/
}

.column {
  flex: 1;
	padding: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}