.card {
  font-family: "Red Hat Text", "Noto Sans JP", "Roboto";
  font-size: 44px;
  text-align: center;
  color: #4c4f69;
  background-color: #eff1f5;
}
.card.nightMode {
  color: #cad3f5;
  background-color: #24273a;
}

.mobile .card.nightMode {
  color: white;
  background-color: #3d3d3d;
}

/* open for change 
original: width = 300px, height = 250px
*/
img {
  max-height: 400px;
  width: auto;
  border-radius: 10px;
}

/* bold color and link color */
b{color: #ed8796}
a{color: #ed8796}

/* Definition container */
.container {
  --background: #e6e9ef;
	
  border-radius: 10px;
  background-color: var(--background);
  line-height: 1.75em;
  text-align: center;
  padding: 0.5em 10px;
  margin: 5px auto;
  overflow: hidden;
  position: relative;
}

.nightMode .container {
  --background: #1e2030;
}

.mobile .nightMode .container {
  --background: #303030;
}

.sentence {
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.row {
  display: flex;
	align-items: flex-start;
}

.column {
  flex: 1;
	padding: 10px;
}

.center {
  max-width: 400px;
  position: relative;
  font-size: 0;
}
