.card 
{
    font-family: "Noto Sans JP", Roboto;
    font-size: 20px;
    text-align: center;
}
   
img {
    max-width: 400px;
    max-height: 300px;
}
   
.mobile img 
{
    max-width: 50vw;
}
   
/* 
accent color 
use `#5586cd` if you want to get the default blue one back
*/
b{color: #ed8796}